NET "E_RX_CLK" LOC = "V3"  | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE;
NET "E_RX_DV"  LOC = "V2"  | IOSTANDARD = LVCMOS33 ;
NET "E_RXD0" LOC = "V8"  | IOSTANDARD = LVCMOS33 ;
NET "E_RXD1" LOC = "T11" | IOSTANDARD = LVCMOS33 ;
NET "E_RXD2" LOC = "U11" | IOSTANDARD = LVCMOS33 ;
NET "E_RXD3" LOC = "V14" | IOSTANDARD = LVCMOS33 ;
NET "E_RXD4" LOC = "U14" | IOSTANDARD = LVCMOS33 ;
NET "LED0" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; 
NET "LED1" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED2" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED3" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED4" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED5" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED6" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
